.contenido-principalnosotros{
    background-image:linear-gradient(to right,$color-principal,white);
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
    "ele1 ele1 ele1"
    "ele2 ele2 ele2"
    "ele3 ele3 ele3";
    place-items: center;

}


.titulo__nosotros{
    text-align: center;
    font-size: 50px;
    font-family:$font-family;
    grid-area: ele1;

    
}

.parrafo_nosotros{
    font-size: 20px;
    margin: 20px;
    font-family: $font-family;
    grid-area: ele2;
}

.titulo__reconocimientonosotros{
    font-size: 35px;
    text-align: center;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagen__nosotros{

    border: solid 6px;
    border-style: double;
    grid-area: ele3;
}