.titulo-productos{
    text-align: center;
    font-family: $font-family;
}

.lunch{
    text-align: center;
    font-family: $font-family;
    font-size: 18px;

}

.pasteleria{
    text-align: center;
    font-family: $font-family;
    font-size: 18px;
}

.sanguches{
    text-align: center;
    font-family: $font-family;
    font-size: 18px;
}
