.logo-facebook{
    transition: transform 2s;
   
    &:hover{
        transform: scale(0.5);
    }
}



.logo-instagram{
    transition: transform 2s;
   
    &:hover{
        transform: scale(0.5);
    }
}



.logo-youtube{
    transition: transform 2s;
  
    &:hover{
        transform: scale(0.5);
    }
    
}


.logo-sitioweb{
   object-fit: cover;
    animation-name: mundo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-style: groove;
}

@keyframes mundo{
    0%{
        transform: rotate(360deg)
    }



}