.titulo-productos{
    text-align: center;
    font-family: $font-family;
}

.lunch{
    text-align: map-get($estilosProductos, centro);
    font-family: map-get($estilosProductos, tFuente);
    font-size: $font-family;
    list-style: map-get($estilosProductos, vinetas);

}

.pasteleria{
    text-align: map-get($estilosProductos, centro);
    font-family: map-get($estilosProductos, tFuente);
    font-size: $font-family;
    list-style: map-get($estilosProductos, vinetas);
}

.sanguches{
    text-align: map-get($estilosProductos, centro);
    font-family: map-get($estilosProductos, tFuente);
    font-size: $font-family;
    list-style-type: map-get($estilosProductos, vinetas);
}


